{{define "buttons"}}
<button type="button">add</button>
<button type="button">edit</button>
<button type="button">delete</button>
<button type="button">export</button>
<button type="button">import</button>
<button type="button">print</button>
{{end}}
