{{define "header"}}
<html>
  <head>
    <title>Dictionary Helper</title>
    <h2>Dictionary Helper{{.Caption}}</h2>
    <a href="/">Home</a>
    <br>
    <a href="/sources">Sources</a>
    <br>
  </head>
<body>
{{template "content"}}
</body>
</html>
{{end}}
