<fieldset>
  <legend>source</legend>
  <label for="caption">caption</label>
  <input type="text">caption</input><br>
  <label for="year">year</label>
  <input type="text">year</input><br>
  <label for="shortName">shortName</label>
  <input type="text">shortName</input><br>
</fieldset>
